.main-header {
  margin-top: -$header-height;

  @media (min-width: $tablet + 1) {
    &.sct-parallax {
      padding-bottom: 10em;
      padding-top: 15em;
      min-height: 580px;
    }
  }

  .header-menu {
    position: relative;
    text-align: center;
    z-index: 2;

    .menu-language {
      padding: 0px 10px;
      position: relative;
      bottom: -7px;

      .flag-img {
        bottom: -3px;
      }
    }
  }

  .logo {
    width: 130px;
    margin-bottom: 2em;

    @media (min-width: $tablet + 1) {
      width: 200px;
    }
  }

  .list-menu {
    margin: 0;
    position: relative;
    z-index: 2;
  }

  .menu-item-wp {
    display: inline-block;
  }

  .menu-item {
    border: 2px solid white;
    display: block;
    color: white;
    font-weight: 700;
    margin: 1px;
    padding: 8px 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;

    &:hover {
      background-color: rgba(black, .5);
      border-color: $smoke;
    }

    &.active {
      border-color: $orange;
    }
  }
}
