$logo-height: 44px;
$menu-font: 15px;

.main-menu {
  position: fixed;
  top: -$header-height;
  z-index: 100;
  background: rgba(#222, .85);
  transition: box-shadow .6s;
  transition: top .3s;

  &.menu-visible {
    top: 0;
  }

  a {
    color: $smoke;
    transition: all .3s;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }

  h1 {
    margin: 0;
  }

  .menu-item {
    font-size: $menu-font;
    text-transform: uppercase;
    padding: (($header-height - ($menu-font + 9px)) / 2) 10px;
    display: block;
    border-width: 0;
    border-style: solid;
    border-color: rgba(black, .2);
    border-top-width: 1px;

    &:hover {
      background-color: rgba($gray-darker, .3);
    }
  }

  .list-menu {
    background: rgba($gray-darker, .9);
    bottom: 0;
    left: 0;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    transition: max-height .6s;
    top: $header-height;

    & > li {
      display: block;
      margin: 0;
    }

    @media (min-width: 1100px) {
      max-height: none;
      float: right;

      & > li {
        float: left;
      }
    }
  }

  &.menu-open {
    box-shadow: 0 3px rgba(0,0,0,.4);

    .list-menu {
      max-height: 1000px;
    }
  }

  @media (min-width: 1100px) {
    box-shadow: none;

    .menu-item-wp:first-child a {
      border-left-width: 1px;
    }

    .menu-item {
      border-top-width: 0;
      border-right-width: 1px;
    }

    .list-menu {
      background: none;
      float: right;
      overflow: hidden;
      position: static;

      & > li {
        float: left;
      }
    }
  }

  @media (max-width: 1099px) {
    .container {
      width: 100%;
    }
  }
}

.menu-logo {
  margin: (($header-height - $logo-height) / 2) auto;
  width: 50px;
  height: $logo-height;
  background: url(../images/logo-mini.png) center center no-repeat;
  background-size: cover;

  @media (min-width: 1100px) {
    float: left;
    margin: (($header-height - $logo-height) / 2) 0;
  }
}

.menu-opener {
  border: 1px solid $smoke;
  border-radius: 2px;
  padding: 3px 6px;
  position: absolute;
  left: 5px;
  top: 12px;
  z-index: 200;

  @media (min-width: 1100px) {
    display: none;
  }
}

.hamburger {
  position: relative;
  bottom: -2px;
  display: inline-block;
  width: $header-height / 3;
  height: 15px;
  margin-right: 8px;
  border-top: 3px solid $smoke;
  border-bottom: 3px solid $smoke;

  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
    width: 100%;
    border-top: 3px solid $smoke;
  }
}
