.sct-parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8em;
  padding-top: 8em;
}

.sct-slideshow {
  overflow: hidden;
  position: relative;

  .images-container, .slider-img, .slider-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .images-container {
    z-index: -1;
  }

  .slider-img {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

    &.active {
      display: block;
      z-index: 1;
    }

    &.fading {
      display: block;
      z-index: 2;
    }
  }

  .slider-cover {
    background: url(../images/dotted-overlay.png) repeat 0 0;
  }
}

.main-header {
  margin-top: -$header-height;
}
