{% if menu %}
	<ul class="list-menu">
	{% for item in menu %}
		<li class="menu-item-wp">
      <a is="menu-link" class="{{item.classes | join(' ')}}" href="{{item.get_link}}" title="{{item.title}}">{{item.title}}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
