{% if menu %}
	<ul class="list-menu">
	{% for item in menu %}
		<li class="menu-item-wp">
			<a class="{{item.classes | join(' ')}}" href="{{item.get_link}}">{{item.title}}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
