{% if post.get_field('footer_image') %}
  <section class="sct-parallax" :class="{ mobile: mobile }">
    <div class="images-container">
      <div class="slider-img" style="background-image: url({{TimberImage(post.get_field('footer_image')).src}})"></div>
    </div>
    <div class="parallax-cover"></div>
    {% if post.get_field('footer_content') %}
      <div class="container">
        <h3>{{post.get_field('footer_content')}}</h3>
      </div>
    {% endif %}
  </section>
{% endif %}
