{% if post.get_field('footer_image') %}
  <section class="sct-parallax" :class="{ mobile: mobile }">
    <slider images="{{TimberImage(post.get_field('footer_image')).src}}"></slider>
    {% if post.get_field('footer_content') %}
      <div class="container">
        <h3>{{post.get_field('footer_content')}}</h3>
      </div>
    {% endif %}
  </section>
{% endif %}
